<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <coverage>
        <report>
            <html outputDirectory="./test/report/coverage/html" lowUpperBound="50" highLowerBound="95"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./test</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>
</phpunit>